page-members-modal {
  font-family: Poppins;

  ion-header {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 65px;
    background-color: #FFFFFF;

    .header-container {
      display: flex;
      margin: 3px auto;

      .close-button {
        width: 20%;
        font-size: 20px;
        ion-icon {
          font-size: 1.2em;
          margin-left: 5px;
          margin-top: 15px;
        }
      }
      .chat-logo {
        margin: auto 5px;
        text-align: center;
        img {
          max-width: 55%;
        }
      }
      .members-title {
        width: 95%;
        font-size: 20px;
        margin-top: 3%;
      }
    }
  }

  ion-content {
    .member {
      color: #354052;
    }
  }
}
